:root
{
    --noir : #050000;
    --gris : #c2b3b0;
    --roseP : #ffc3bb;
    --roseF : #ff8e96;
    --rouge : #bf152d;
}

section
{
    height: 1600px;
}


.art1
{
    background: url(/public/img/économie/PierreChaillot.svg);
}

.art2
{
    background: url(/public/img/économie/PierreJovanovic.svg);
}