@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

:root
{
    --blanc : #ffffff;
    --noir : #050000;
    --gris : #c2b3b0;
    --grisF : #1b1b1b;
    --orange : #ff5e37;
    --bleu : #bbdefb;
    --bleuRoi : #4169e1;
}

nav
{
    height: 100px;
    font-family: "Bodoni Moda", serif;
    font-size: 1.7em;
    font-weight: bold;
    background-color: var(--bleuRoi);
    margin: 20px;
    border-radius: 18px;
    opacity: 80%;
}

li
{
    border-bottom: 2px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

li:hover
{
    padding-bottom: 10px;
    border-bottom-color: var(--bs-teal);
}

form
{
    height: 2em;
}

form button
{
    height: 2em;
    width: 6em;
    font-size: 1em !important;
}

span
{
    height: 12.5em;
    width: 11em;
    font-size: 1em !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.fontNav
{
    color: var(--blanc);
}


