:root
{
    --noir : #050000;
    --gris : #c2b3b0;
    --grisBis : #bdbdbd; 
    --roseP : #ffc3bb;
    --roseF : #ff8e96;
    --orange : #ffab91;
    --rouge : #bf152d;
    --bleu : #bbdefb;
}

nav
{
    height: 100px;
    font-size: 1.25em;
    background: #fff;
    margin: 20px;
    border-radius: 16px;
    padding: 1.5rem;
}

.navbar-toggler
{
    background-color: var(--rouge);
    border: none;
    font-size: 1.25em;
}

.navbar-toggler:focus
{
    box-shadow: none;
    outline: none;
}
