:root
{
    --noir : #050000;
    --gris : #c2b3b0;
    --roseP : #ffc3bb;
    --roseF : #ff8e96;
    --rouge : #bf152d;
}

section
{
    height: 2600px;
}

article
{
    height: 300px;
    width: 400px;
    border: solid 1px var(--gris);
}

.art1
{
    background: url(/public/img/géopolitique/IdrissAberkane.svg) center center no-repeat;
}

.art2
{
    background: url(/public/img/géopolitique/PierreHillard.svg) center center no-repeat;
}

.art3
{
    background: url(/public/img/géopolitique/ThierryMeyssan.svg) center center no-repeat;
}


.picto
{
    height: 300px;
    width: 300px;
    z-index: 100;
}

/*Média queries*/
/*Pour les mobiles, à largeur d'ecran inférieur à 480px :*/

@media only screen and (max-width : 480px)
{

}

/*Pour les tablettes :*/

@media only screen and (min-width : 481px) and (max-width : 810px)
{

}

/*Pour les desktops :*/

@media only sceen and (min-width : 811px) and (max-width : 1288px)
{

}