@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

:root
{
    --blanc : #ffffff;
    --noir : #050000;
    --gris : #c2b3b0;
    --grisF : #1b1b1b;
    --roseP : #ffc3bb;
    --roseF : #ff8e96;
    --bleu : #bbdefb;
    --bleuRoi : #4169e1;
}

h1
{
    color: var(--blanc);
    font-size: 5em !important;
    font-family: "Nanum Myeongjo", serif;
    margin-top: 80px !important;
    margin-bottom: 50px !important;
}