@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

:root
{
    --blanc : #ffffff;
    --noir : #050000;
    --gris : #c2b3b0;
    --roseP : #ffc3bb;
    --roseF : #ff8e96;
    --rouge : #bf152d;
}

nav
{
    background-color: var(--blanc);
    font-family: "Bodoni Moda", serif;
    font-size: 2.5em;
    font-weight: 400;
    border-bottom: solid .5px var(--gris);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.links
{
    color: var(--rouge);
    text-decoration: none;
    padding: 130px;
}

.logo
{
    height: 30em;
    width: 30em;
}

.nav-item-dropdown
{
    background-color: var(--rouge);
}

