@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

:root
{
    --noir : #050000;
    --gris : #c2b3b0;
    --roseP : #ffc3bb;
    --roseF : #ff8e96;
    --rouge : #bf152d;
}

nav
{
    background-color: var(--noir);
    font-size: 2.5em;
    font-weight: 900;
    font-family: "Nanum Myeongjo", serif;
}

.links
{
    color: var(--gris);
    text-decoration: none;
    padding: 175px;
}



