@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

:root
{
    --noir : #08091b;
    --bleu : #6486ac;
    --gris : #c0bfc4;
    --beige : #eedfc2;
}

nav
{
    background-color: var(--noir);
    font-size: 2.5em;
    font-weight: 900;
    font-family: "Nanum Myeongjo", serif;
}

.links
{
    color: var(--bleu);
    text-decoration: none;
}

ul.links
{
    text-decoration: none;
}


