:root
{
    --blanc : #ffffff;
    --noir : #050000;
    --gris : #c2b3b0;
    --grisTaupe : #8e8d8a;
    --grisF : #1b1b1b;
    --orange : #ff5e37;
    --bleu : #bbdefb;
    --bleuRoi : #4169e1;
    --violet : #431f4b;
}

article
{
  background-color: var(--bleu);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  height: 700px;
  width: 500px;
}

.sliderContent
{
    
}

.overlay
{
    width: 80%;
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    left: 10%;
    padding: 0.4rem 1.5rem;
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.overlay_title
{
    text-align: center;
    padding: 1%;
    color: var(--blanc);
    font-size: 1.3em;
}

.overlay_text
{
    text-align: center;
}