:root
{
    --blanc : #ffffff;
    --noir : #050000;
    --gris : #c2b3b0;
    --grisF : #1b1b1b;
    --roseP : #ffc3bb;
    --roseF : #ff8e96;
    --rouge : #bf152d;
}

footer
{
    height: 450px;
    width: 400px;
    background-color: var(--blanc);
}

.pictos
{
    height: 20rem;
    
}