:root
{
    --noir : #050000;
    --gris : #c2b3b0;
    --roseP : #ffc3bb;
    --roseF : #ff8e96;
    --rouge : #bf152d;
}

section
{
    background-color: var(--noir);
    height: 1200px;
}

p
{
    color: var(--gris);
    font-size: 1.7em;
}