:root
{
    --blanc : #ffffff;
    --noir : #050000;
    --gris : #c2b3b0;
    --grisF : #1b1b1b;
    --roseP : #ffc3bb;
    --roseF : #ff8e96;
    --rouge : #bf152d;
}

section
{
    background-color: var(--blanc);
    height: 1200px;
}

.header
{
    background-color: var(--grisF);
    
}

p
{
    color: var(--gris);
    font-size: 1.8em;
}