:root
{
    --blanc : #ffffff;
    --noir : #050000;
    --gris : #c2b3b0;
    --grisF : #1b1b1b;
    --roseP : #ffc3bb;
    --roseF : #ff8e96;
    --rouge : #bf152d;
}

section
{
    background-color: var(--blanc);
    height: 1200px;
}

.header
{
    background: url(./earth.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.header::before
{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.FontSize
{
    font-size: 2em !important;
    color: var(--gris);
}

.guillemetsO
{
    background: url(/public/svg/guillemets/guillemetsO.svg) no-repeat;
    height: 120px;
    width: 120px;
    margin-left: -10%;
    margin-bottom: -3%;
}

.guillemetsF
{
    background: url(/public/svg/guillemets/guillemetsF.svg) no-repeat;
    height: 120px;
    width: 120px;
    margin-left: 100%;
    margin-top: -3%;
}

/*Média queries*/
/*Pour les mobiles, à largeur d'ecran inférieur à 480px :*/

@media only screen and (max-width : 480px)
{

}

/*Pour les tablettes :*/

@media only screen and (min-width : 481px) and (max-width : 810px)
{

}

/*Pour les desktops :*/

@media only sceen and (min-width : 811px) and (max-width : 1288px)
{

}