:root
{
  --blanc : #ffffff;
  --noir : #050000;
  --gris : #c2b3b0;
  --grisF : #1b1b1b;
  --roseP : #ffc3bb;
  --roseF : #ff8e96;
  --bleu : #bbdefb;
  --bleuRoi : #4169e1;
}

.App {
  text-align: center;
}

body
{
  overflow-x: hidden;
  background-color: var(--bleuRoi) !important;
}


