:root
{
    --noir : #08091b;
    --bleu : #6486ac;
    --gris : #c0bfc4;
    --beige : #eedfc2;
}

article
{
    height: 300px;
    width: 100%;
    border: 1px solid var(--bleu);
}

.art1
{
    
}

.art2
{

}

.art3
{

}

.art4
{

}